# Database configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=mobility_db
DB_USER=mobility_user
DB_PASSWORD=MAlaa!4694!97

# Google Vertex AI / Gemini LLM configuration
PROJECT_ID="mobility-innovator"
LOCATION=us-central1    # or your Vertex AI region
SERVICE_ACCOUNT_FILE=E:\Mobility\Mobility-Innovator\keys\mobility-genie-sa.json
MODEL_NAME=gemini-1.5-flash

# Flask secret key for session encryption
FLASK_SECRET_KEY=f62173aa620ebbf1f43fa05e32abfaf146b36bf00e39191c4f7e0b4ba793d0fb
